
Label {
    -fx-font-family: SansSerif;
    -fx-font-size: 30pt;
    -fx-text-alignment: center;
}

Button {
    -fx-animated: true;
    -fx-font-family: SansSerif;
    -fx-font-size: 15pt;
    -fx-text-aligment: center;
}

VBox {
    -fx-padding: 5px;
}
